@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class="masthead">
    <div class="container" s>
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Product Ratings </div>
            <div class="intro-heading text-uppercase">Rate products to help others</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Ratings">View Ratings</a>
        </div>
    </div>
</header>
